---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/HeyHomie
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer bb06832b63a8639e04020967d048940feff31658
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9986600911e0551a5a49a80223a09543775cf31ac82558155498025ee8fb1b7a"
      Last-Modified:
      - Mon, 25 Apr 2022 14:28:36 GMT
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2022-06-24 17:13:39 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4979'
      X-Ratelimit-Reset:
      - '1653835425'
      X-Ratelimit-Used:
      - '21'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"login":"HeyHomie","id":42941835,"node_id":"MDEyOk9yZ2FuaXphdGlvbjQyOTQxODM1","avatar_url":"https://avatars.githubusercontent.com/u/42941835?v=4","gravatar_id":"","url":"https://api.github.com/users/HeyHomie","html_url":"https://github.com/HeyHomie","followers_url":"https://api.github.com/users/HeyHomie/followers","following_url":"https://api.github.com/users/HeyHomie/following{/other_user}","gists_url":"https://api.github.com/users/HeyHomie/gists{/gist_id}","starred_url":"https://api.github.com/users/HeyHomie/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/HeyHomie/subscriptions","organizations_url":"https://api.github.com/users/HeyHomie/orgs","repos_url":"https://api.github.com/users/HeyHomie/repos","events_url":"https://api.github.com/users/HeyHomie/events{/privacy}","received_events_url":"https://api.github.com/users/HeyHomie/received_events","type":"Organization","site_admin":false,"name":"Homie","company":null,"blog":"http://homie.mx/","location":"Mexico","email":"devops@homie.mx","hireable":null,"bio":null,"twitter_username":"homiemx_","public_repos":18,"public_gists":0,"followers":0,"following":0,"created_at":"2018-09-03T15:26:35Z","updated_at":"2022-04-25T14:28:36Z"}'
  recorded_at: Sun, 29 May 2022 14:33:06 GMT
recorded_with: VCR 6.1.0
