---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/octocat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer bb06832b63a8639e04020967d048940feff31658
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b52da7d88eece1457e5bfb7977259ef5932ad7bad239b97c16141593a50c5657"
      Last-Modified:
      - Tue, 22 Mar 2022 14:07:15 GMT
      X-Oauth-Scopes:
      - repo, workflow
      X-Accepted-Oauth-Scopes:
      - ''
      Github-Authentication-Token-Expiration:
      - 2022-06-24 17:13:39 UTC
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1653595079'
      X-Ratelimit-Used:
      - '2'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"login":"octocat","id":583231,"node_id":"MDQ6VXNlcjU4MzIzMQ==","avatar_url":"https://avatars.githubusercontent.com/u/583231?v=4","gravatar_id":"","url":"https://api.github.com/users/octocat","html_url":"https://github.com/octocat","followers_url":"https://api.github.com/users/octocat/followers","following_url":"https://api.github.com/users/octocat/following{/other_user}","gists_url":"https://api.github.com/users/octocat/gists{/gist_id}","starred_url":"https://api.github.com/users/octocat/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/octocat/subscriptions","organizations_url":"https://api.github.com/users/octocat/orgs","repos_url":"https://api.github.com/users/octocat/repos","events_url":"https://api.github.com/users/octocat/events{/privacy}","received_events_url":"https://api.github.com/users/octocat/received_events","type":"User","site_admin":false,"name":"The
        Octocat","company":"@github","blog":"https://github.blog","location":"San
        Francisco","email":"octocat@github.com","hireable":null,"bio":null,"twitter_username":null,"public_repos":8,"public_gists":8,"followers":5931,"following":9,"created_at":"2011-01-25T18:44:36Z","updated_at":"2022-03-22T14:07:15Z"}'
  recorded_at: Thu, 26 May 2022 18:57:59 GMT
recorded_with: VCR 6.1.0
