---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/octocat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer bb06832b63a8639e04020967d048940feff31658
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"1df234ca2b7d33aae2e48ed2e39c5d941bf4ec8065a73660f4fb20df774c1ae7"
      Last-Modified:
      - Tue, 22 Mar 2022 14:07:15 GMT
      X-Oauth-Scopes:
      - notifications, repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4978'
      X-Ratelimit-Reset:
      - '1653844275'
      X-Ratelimit-Used:
      - '22'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '{"login":"octocat","id":583231,"node_id":"MDQ6VXNlcjU4MzIzMQ==","avatar_url":"https://avatars.githubusercontent.com/u/583231?v=4","gravatar_id":"","url":"https://api.github.com/users/octocat","html_url":"https://github.com/octocat","followers_url":"https://api.github.com/users/octocat/followers","following_url":"https://api.github.com/users/octocat/following{/other_user}","gists_url":"https://api.github.com/users/octocat/gists{/gist_id}","starred_url":"https://api.github.com/users/octocat/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/octocat/subscriptions","organizations_url":"https://api.github.com/users/octocat/orgs","repos_url":"https://api.github.com/users/octocat/repos","events_url":"https://api.github.com/users/octocat/events{/privacy}","received_events_url":"https://api.github.com/users/octocat/received_events","type":"User","site_admin":false,"name":"The
        Octocat","company":"@github","blog":"https://github.blog","location":"San
        Francisco","email":"octocat@github.com","hireable":null,"bio":null,"twitter_username":null,"public_repos":8,"public_gists":8,"followers":5960,"following":9,"created_at":"2011-01-25T18:44:36Z","updated_at":"2022-03-22T14:07:15Z"}'
  recorded_at: Sun, 29 May 2022 16:42:04 GMT
- request:
    method: get
    uri: https://api.github.com/users/octocat/repos?page=1&per_page=100&sort=updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer bb06832b63a8639e04020967d048940feff31658
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7aa8d7e10514a8672da1612888973bbf216733b9a60699ad2b1d728296a562a3"
      X-Oauth-Scopes:
      - notifications, repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4977'
      X-Ratelimit-Reset:
      - '1653844275'
      X-Ratelimit-Used:
      - '23'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: ASCII-8BIT
      string: '[{"id":1300192,"node_id":"MDEwOlJlcG9zaXRvcnkxMzAwMTky","name":"Spoon-Knife","full_name":"octocat/Spoon-Knife","private":false,"owner":{"login":"octocat","id":583231,"node_id":"MDQ6VXNlcjU4MzIzMQ==","avatar_url":"https://avatars.githubusercontent.com/u/583231?v=4","gravatar_id":"","url":"https://api.github.com/users/octocat","html_url":"https://github.com/octocat","followers_url":"https://api.github.com/users/octocat/followers","following_url":"https://api.github.com/users/octocat/following{/other_user}","gists_url":"https://api.github.com/users/octocat/gists{/gist_id}","starred_url":"https://api.github.com/users/octocat/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/octocat/subscriptions","organizations_url":"https://api.github.com/users/octocat/orgs","repos_url":"https://api.github.com/users/octocat/repos","events_url":"https://api.github.com/users/octocat/events{/privacy}","received_events_url":"https://api.github.com/users/octocat/received_events","type":"User","site_admin":false},"html_url":"https://github.com/octocat/Spoon-Knife","description":"This
        repo is for demonstration purposes only.","fork":false,"url":"https://api.github.com/repos/octocat/Spoon-Knife","forks_url":"https://api.github.com/repos/octocat/Spoon-Knife/forks","keys_url":"https://api.github.com/repos/octocat/Spoon-Knife/keys{/key_id}","collaborators_url":"https://api.github.com/repos/octocat/Spoon-Knife/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/octocat/Spoon-Knife/teams","hooks_url":"https://api.github.com/repos/octocat/Spoon-Knife/hooks","issue_events_url":"https://api.github.com/repos/octocat/Spoon-Knife/issues/events{/number}","events_url":"https://api.github.com/repos/octocat/Spoon-Knife/events","assignees_url":"https://api.github.com/repos/octocat/Spoon-Knife/assignees{/user}","branches_url":"https://api.github.com/repos/octocat/Spoon-Knife/branches{/branch}","tags_url":"https://api.github.com/repos/octocat/Spoon-Knife/tags","blobs_url":"https://api.github.com/repos/octocat/Spoon-Knife/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/octocat/Spoon-Knife/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/octocat/Spoon-Knife/git/refs{/sha}","trees_url":"https://api.github.com/repos/octocat/Spoon-Knife/git/trees{/sha}","statuses_url":"https://api.github.com/repos/octocat/Spoon-Knife/statuses/{sha}","languages_url":"https://api.github.com/repos/octocat/Spoon-Knife/languages","stargazers_url":"https://api.github.com/repos/octocat/Spoon-Knife/stargazers","contributors_url":"https://api.github.com/repos/octocat/Spoon-Knife/contributors","subscribers_url":"https://api.github.com/repos/octocat/Spoon-Knife/subscribers","subscription_url":"https://api.github.com/repos/octocat/Spoon-Knife/subscription","commits_url":"https://api.github.com/repos/octocat/Spoon-Knife/commits{/sha}","git_commits_url":"https://api.github.com/repos/octocat/Spoon-Knife/git/commits{/sha}","comments_url":"https://api.github.com/repos/octocat/Spoon-Knife/comments{/number}","issue_comment_url":"https://api.github.com/repos/octocat/Spoon-Knife/issues/comments{/number}","contents_url":"https://api.github.com/repos/octocat/Spoon-Knife/contents/{+path}","compare_url":"https://api.github.com/repos/octocat/Spoon-Knife/compare/{base}...{head}","merges_url":"https://api.github.com/repos/octocat/Spoon-Knife/merges","archive_url":"https://api.github.com/repos/octocat/Spoon-Knife/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/octocat/Spoon-Knife/downloads","issues_url":"https://api.github.com/repos/octocat/Spoon-Knife/issues{/number}","pulls_url":"https://api.github.com/repos/octocat/Spoon-Knife/pulls{/number}","milestones_url":"https://api.github.com/repos/octocat/Spoon-Knife/milestones{/number}","notifications_url":"https://api.github.com/repos/octocat/Spoon-Knife/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/octocat/Spoon-Knife/labels{/name}","releases_url":"https://api.github.com/repos/octocat/Spoon-Knife/releases{/id}","deployments_url":"https://api.github.com/repos/octocat/Spoon-Knife/deployments","created_at":"2011-01-27T19:30:43Z","updated_at":"2022-05-29T16:05:30Z","pushed_at":"2022-05-29T08:13:18Z","git_url":"git://github.com/octocat/Spoon-Knife.git","ssh_url":"git@github.com:octocat/Spoon-Knife.git","clone_url":"https://github.com/octocat/Spoon-Knife.git","svn_url":"https://github.com/octocat/Spoon-Knife","homepage":"","size":2,"stargazers_count":11063,"watchers_count":11063,"language":"HTML","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":126921,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":14691,"license":null,"allow_forking":true,"is_template":false,"topics":[],"visibility":"public","forks":126921,"open_issues":14691,"watchers":11063,"default_branch":"main","permissions":{"admin":false,"maintain":false,"push":false,"triage":false,"pull":true}},{"id":1296269,"node_id":"MDEwOlJlcG9zaXRvcnkxMjk2MjY5","name":"Hello-World","full_name":"octocat/Hello-World","private":false,"owner":{"login":"octocat","id":583231,"node_id":"MDQ6VXNlcjU4MzIzMQ==","avatar_url":"https://avatars.githubusercontent.com/u/583231?v=4","gravatar_id":"","url":"https://api.github.com/users/octocat","html_url":"https://github.com/octocat","followers_url":"https://api.github.com/users/octocat/followers","following_url":"https://api.github.com/users/octocat/followin[...]
- request:
    method: get
    uri: https://api.github.com/users/octocat/repos?page=2&per_page=100&sort=updated
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer bb06832b63a8639e04020967d048940feff31658
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"1d5e1e68b04c3ebf84c6218fa5357e3f5cefa4a0d2f45575a930a218e8040708"'
      X-Oauth-Scopes:
      - notifications, repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/583231/repos?page=1&per_page=100&sort=updated>;
        rel="prev", <https://api.github.com/user/583231/repos?page=1&per_page=100&sort=updated>;
        rel="last", <https://api.github.com/user/583231/repos?page=1&per_page=100&sort=updated>;
        rel="first"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4976'
      X-Ratelimit-Reset:
      - '1653844275'
      X-Ratelimit-Used:
      - '24'
      X-Ratelimit-Resource:
      - core
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 29 May 2022 16:42:05 GMT
recorded_with: VCR 6.1.0
